<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.mostafa.yts">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <application
        android:name=".Common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        >
        <activity
            android:name=".Home"
            android:label="@string/home_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".Common.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SearchActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".MoviesDetails"
            android:parentActivityName=".Home"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".FavoActivity"
            android:label="@string/favorites">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".StartActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DocsActivity"
            android:label="@string/Docs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tab_Details_Activity"
            android:theme="@style/AppTheme.NoActionBar"

            />
        <activity
            android:name=".WatchActivity"
            android:label="@string/watch_Activity"></activity>
        <activity
            android:name=".LatestActivity"
            android:label="@string/latestActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>

        <service
            android:name=".Notifications.NotificationIntentService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".Notifications.NotificationEventReceiver" />
        <receiver android:name=".Notifications.NotificationServiceStarterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
    </application>

</manifest>